.main-container{
    height: 100vh;
    width: 100vw;
}

.spacer{
    flex: 1 1 auto;
}

.topbar{
    position: sticky;
    top: 0;
    overflow: hidden;
}

.content{
    margin-left: 8vw;
    margin-right: 8vw;
}