<mat-drawer-container class="main-container">
  <mat-drawer #drawer class="sidenav" mode="over">

  </mat-drawer>
  <mat-toolbar class="topbar"> 
    <button mat-icon-button (click)="drawer.toggle()" onclick="this.blur()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span><b>TrainApp</b></span>
    <span class="spacer"></span>
    <button *ngIf="!isUserLogged" mat-flat-button (click)="login()">Login</button>
    <button *ngIf="isUserLogged" mat-stroked-button (click)="logout()">
      <mat-icon>
        person
      </mat-icon>
      Riccardo  
    </button>
  </mat-toolbar>
  <nav>
    <ul>
      <li><a routerLink="/training" routerLinkActive="active" ariaCurrentWhenActive="page">Training</a></li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

