<h1>I tuoi allenamenti</h1>
<button mat-flat-button (click)="addTraining()">Aggiungi allenamento</button>

<mat-card class="training-card" appearance="outlined" (click)="test()" matRipple>

    <div class="flex-parent">
        <mat-card-title class="flex-child long-and-truncated">
            Primo allenamento con titolo davvero molto molto molto lungo
        </mat-card-title>  
    </div>

    <mat-card-content>
        <p><b>Stato: </b>Attivo</p>
        <p><b>Data di inizio: </b> 01/01/2001</p>
        <p><b>Personal Trainer: </b> Domenico Carulli</p>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>