<p>training-overview works!</p>
<button (click)="testFirebase()">Test</button>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>
<p>ciao</p>